body {
    background: #5E5757;
}

.main-wrapper {
    padding: 10px;
    display: grid;
    min-height: 100vh;
    /* grid-template-areas: 
    "h h h h h" 
    "t t t i i" 
    "t t t i i" 
    "t t t i i" 
    "f f f f f"; */
      grid-template-areas: 
    "h h h h h" 
    "t t t t i" 
    "t t t t i" 
    "t t t t i" 
    "f f f f f";
}

header {
    background: #302929;
    color: slategray;
    grid-area: h;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: 'Anton', sans-serif;
    font-size: x-large
}

header h1 {
    padding: 0px;
    margin: 0px;
}

.teams-wrapper {
    grid-gap: 1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: #BBC7CE;
    grid-area: t;
    height: 85vh;
    display: grid;
    background-image: url(./AndAt.svg);
    background-size: auto;

}

.team-box {
    background: rgba(191, 237, 239, 0.954);
    border: 1px solid blue;
    margin: 5%;
    display: grid;
    grid-auto-rows: auto;
    align-content: space-evenly;
    justify-content: center;
    border-radius: 25%;
    font-family: 'Anton', sans-serif;
}



.member-wrapper {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 10%;
    border-radius: 25%;
}


.input-wrapper {
    background: #98E2C6;
    grid-area: i;
    height: 85vh;
    justify-content: center;
}

#paste-note {
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: opacity .25s ease-in-out;
}

#paste-note p {
    margin: 0%;
}

textarea:not(:placeholder-shown)  + #paste-note{
    opacity: 1;
    transition: opacity .25s ease-in-out;
}

.button-wrapper {
    justify-content: center;
    display: flex;
    margin: 5px auto;
}

footer {
    background: #302929;
    color: white;
    grid-area: f;
    height: 5vh;
    display: flex;
    justify-content: space-between
}

#branding {
    color: slategray;
}

#copywrite {
    color: slategray;
}

#copywrite a {
    color: yellow;
    text-decoration: none;
}

#pi {
    color: red;
}
textarea {
    overflow: hidden;
    padding: 10px;
    width: 75%;
    font-size: 14px;
    margin: 10px auto;
    display: block;
    border-radius: 10px;
    border: 6px solid #556677;
}

@media(max-width:600px) {
footer {
    background: #302929;
    color: white;
    grid-area: f;
    display: flex;
    justify-content: space-between
}

.teams-wrapper {
    grid-gap: 1px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: #BBC7CE;
    grid-area: t;
    flex-grow: 2;
    display: grid;
    background-image: url(./AndAt.svg);
    background-size: auto;
}
    

    .input-wrapper {
        background: #98E2C6;
        grid-area: i;
        height:auto;
        justify-content: center;
    }

    .main-wrapper {
        padding: 10px;
        display: flex;
        flex-direction: column;
        /* min-height: 100vh; */
        /* grid-template-areas: "h" "i" "t" "f"; */
        /* "h h h h h" "t t t i i" "t t t i i" "t t t i i" "f f f f f"; */
    }
    textarea:not(:placeholder-shown)+#paste-note {
        opacity: 0;
        transition: opacity .25s ease-in-out;
    }

}