body {
    background: #386150;
}

.main-wrapper {
    padding: 10px;
    display: grid;
    min-height: 100vh;
    grid-template-areas: "h h h h h" "t t t i i" "t t t i i" "t t t i i" "f f f f f";
}

header {
    background: #C4B7CB;
    grid-area: h;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

.teams-wrapper {
    grid-gap: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background: #BBC7CE;
    grid-area: t;
    height: 80vh;
    display: grid;
}

.team-box {
    background: #BFEDEF;
    border: 1px solid blue;
    margin: 2%;
}

.input-wrapper {
    background: #98E2C6;
    grid-area: i;
    height: 80vh;
}

footer {
    background: #545C52;
    grid-area: f;
    height: 10vh;
}

textarea {
    /* box-sizing: padding-box; */
    overflow: hidden;
    /* demo only: */
    padding: 10px;
    width: 75%;
    font-size: 14px;
    margin: 50px auto;
    display: block;
    border-radius: 10px;
    border: 6px solid #556677;
}

@media(max-width:600px) {
    header {
        background: slategray;
    }
    .main-wrapper {
        padding: 10px;
        display: grid;
        min-height: 100vh;
        grid-template-areas: "h" "i" "t" "f";
        /* "h h h h h" "t t t i i" "t t t i i" "t t t i i" "f f f f f"; */
    }
}